$d-type-colors: (
"s1" : #6c2e44, // [0, 0.55, 0.3]
"s2" : #6a332b, // [30, 0.55, 0.3]
"s3" : #5f3d21, // [60, 0.55, 0.3]
"s4" : #514420, // [90, 0.55, 0.3]
"s5" : #414b23, // [120, 0.55, 0.3]
"s6" : #2c4f34, // [150, 0.55, 0.3]
"s7" : #234f47, // [180, 0.55, 0.3]
"s8" : #214d54, // [210, 0.55, 0.3]
"s9" : #234a64, // [240, 0.55, 0.3]
"s10" : #324178, // [270, 0.55, 0.3]
"s11" : #4f3773, // [300, 0.55, 0.3]
"s12" : #62305f, // [330, 0.55, 0.3]
);
$l-back-colors: (
"s1" : #ecb6c5, // [0, 0.55, 0.8]
"s2" : #ebb9b0, // [30, 0.55, 0.8]
"s3" : #e9bd99, // [60, 0.55, 0.8]
"s4" : #dcc586, // [90, 0.55, 0.8]
"s5" : #bed089, // [120, 0.55, 0.8]
"s6" : #9ad8a6, // [150, 0.55, 0.8]
"s7" : #8ad8c9, // [180, 0.55, 0.8]
"s8" : #8cd4e1, // [210, 0.55, 0.8]
"s9" : #a3cdeb, // [240, 0.55, 0.8]
"s10" : #b8c6ec, // [270, 0.55, 0.8]
"s11" : #cdbeeb, // [300, 0.55, 0.8]
"s12" : #e1b7dd, // [330, 0.55, 0.8]
);
$l-back-2-colors: (
"s1" : #eebfcc, // [0, 0.55, 0.825]
"s2" : #eec2ba, // [30, 0.55, 0.825]
"s3" : #edc5a6, // [60, 0.55, 0.825]
"s4" : #e2cc92, // [90, 0.55, 0.825]
"s5" : #c6d793, // [120, 0.55, 0.825]
"s6" : #a4dfaf, // [150, 0.55, 0.825]
"s7" : #94dfcf, // [180, 0.55, 0.825]
"s8" : #99dae6, // [210, 0.55, 0.825]
"s9" : #aed3ee, // [240, 0.55, 0.825]
"s10" : #c1cdee, // [270, 0.55, 0.825]
"s11" : #d3c6ee, // [300, 0.55, 0.825]
"s12" : #e5c0e1, // [330, 0.55, 0.825]
);
$l-type-colors: (
"s1" : #f1c8d3, // [0, 0.55, 0.85]
"s2" : #f1cac4, // [30, 0.55, 0.85]
"s3" : #f0cdb2, // [60, 0.55, 0.85]
"s4" : #e7d39f, // [90, 0.55, 0.85]
"s5" : #cddd9e, // [120, 0.55, 0.85]
"s6" : #aee5b8, // [150, 0.55, 0.85]
"s7" : #a0e5d6, // [180, 0.55, 0.85]
"s8" : #a6e0eb, // [210, 0.55, 0.85]
"s9" : #bad9f1, // [240, 0.55, 0.85]
"s10" : #cad4f1, // [270, 0.55, 0.85]
"s11" : #d9cef0, // [300, 0.55, 0.85]
"s12" : #e9c9e5, // [330, 0.55, 0.85]
);
$d-back-colors: (
"s1" : #7d374f, // [okhsl: 0, 0.55, 0.35]
"s2" : #7b3d33, // [okhsl: 30, 0.55, 0.35]
"s3" : #6e4828, // [okhsl: 60, 0.55, 0.35]
"s4" : #5f5027, // [okhsl: 90, 0.55, 0.35]
"s5" : #4d572a, // [okhsl: 120, 0.55, 0.35]
"s6" : #355c3d, // [okhsl: 150, 0.55, 0.35]
"s7" : #2b5c53, // [okhsl: 180, 0.55, 0.35]
"s8" : #285a63, // [okhsl: 210, 0.55, 0.35]
"s9" : #2b5774, // [okhsl: 240, 0.55, 0.35]
"s10" : #3c4d8a, // [okhsl: 270, 0.55, 0.35]
"s11" : #5c4185, // [okhsl: 300, 0.55, 0.35]
"s12" : #72396e, // [okhsl: 330, 0.55, 0.35]
);
$d-back-2-colors: (
"s1" : #853c55, // [okhsl: 0, 0.55, 0.375]
"s2" : #844238, // [okhsl: 30, 0.55, 0.375]
"s3" : #764e2b, // [okhsl: 60, 0.55, 0.375]
"s4" : #66562a, // [okhsl: 90, 0.55, 0.375]
"s5" : #535e2e, // [okhsl: 120, 0.55, 0.375]
"s6" : #396342, // [okhsl: 150, 0.55, 0.375]
"s7" : #2e6359, // [okhsl: 180, 0.55, 0.375]
"s8" : #2c616a, // [okhsl: 210, 0.55, 0.375]
"s9" : #2e5d7c, // [okhsl: 240, 0.55, 0.375]
"s10" : #415393, // [okhsl: 270, 0.55, 0.375]
"s11" : #62468e, // [okhsl: 300, 0.55, 0.375]
"s12" : #7a3d76, // [okhsl: 330, 0.55, 0.375]
);