        <ul class="references">
          {%- assign posts = site.posts | where: 'publish', 'no' %}
          {% for post in posts %}
            <li class="reference-canvas">
              <a
                class="reference c{{ posts | size | minus: forloop.index | modulo: site.colors }}"
                href="{{ post.url | prepend: site.baseurl }}"
                >
                <strong class="title">{{ post.title }}</strong>
                {%- if post.subtitle %}<div class="subtitle">{{ post.subtitle }}</div>{%- endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
