      <div class="header-canvas">
        <header class="header">

          <h1 class="header-title">
            {%- for language in snippets.languages %}
              {%- if page.language == site.language %}
                {%- assign url = site.baseurl | append: '/'%}
              {%- else %}
                {%- assign nav_pages = site.pages
                  | where: 'language_reference', 'nest'
                  | where: 'language', page.language %}
                {%- for nav_page in nav_pages %}
                  {%- assign url = site.baseurl | append: nav_page.url %}
                {%- endfor %}
              {%- endif %}
            {%- endfor %}
            <div class="item">
              <a href="{{ url }}">{{ site.title }}</a>
            </div>
          </h1>

          <nav class="header-navigation">
            <ul>
              {%- assign nav_pages = site.pages | where: 'language', page.language %}
              {%- for nav_page in nav_pages %}
                {%- if nav_page.title != null and nav_page.layout == 'page' %}
                {%- if nav_page.language_reference == 'about' %}
                <li class="item">
                  {%- if page.language == 'tr' %}
                  <span><span class="expendable">karanlıkta parlayan</span> <a href="{{ site.baseurl }}{{ nav_page.url }}">büyülü hikayeler</a> evidir.</span>
                  {%- elsif page.language == 'en'  %}
                  <span>a <a href="{{ site.baseurl }}{{ nav_page.url }}">nest for tales</a> that shine at night.</span>
                  {%- endif %}
                </li>
                {%- endif %}
                {%- endif %}
              {%- endfor %}

              {%- for language in snippets.languages %}

                {%- if page.layout == 'page' %}
                  {%- assign nav_pages = site.pages
                    | where: 'language_reference', page.language_reference
                    | where: 'language', language[1].slug %}
                  {%- if nav_pages.size > 0 %}
                    {%- for nav_page in nav_pages %}
                      {%- assign url = site.baseurl | append: nav_page.url %}
                    {%- endfor %}
                  {%- else %}
                  {%- assign nav_pages = site.pages
                    | where: 'language_reference', 'nest'
                    | where: 'language', language[1].slug %}
                    {%- for nav_page in nav_pages %}
                      {%- assign url = site.baseurl | append: nav_page.url %}
                    {%- endfor %}
                  {%- endif %}

                {%- elsif page.layout == 'post' %}
                  {%- assign nav_posts = site.posts
                    | where: 'language_reference', page.language_reference
                    | where: 'language', language[1].slug %}
                  {%- if nav_posts.size > 0 %}
                    {%- for nav_post in nav_posts %}
                      {%- assign url = site.baseurl | append: nav_post.url %}
                    {%- endfor %}
                  {%- else %}
                  {%- assign nav_pages = site.pages
                    | where: 'language_reference', 'nest'
                    | where: 'language', language[1].slug %}
                    {%- for nav_page in nav_pages %}
                      {%- assign url = site.baseurl | append: nav_page.url %}
                    {%- endfor %}
                  {%- endif %}

                {%- elsif page.layout == 'base' %}
                  {%- assign nav_pages = site.pages
                    | where: 'language_reference', 'nest'
                    | where: 'language', language[1].slug %}
                  {%- for nav_page in nav_pages %}
                    {%- assign url = site.baseurl | append: nav_page.url %}
                  {%- endfor %}
                {%- endif %}
              <li class="item {{ language[1].slug }}">
                <a href="{{ url }}"><span>{{ language[1].value }}</span></a>
              </li>
              {%- endfor %}
            </ul>
          </nav>

        </header>
      </div>
