{%- if page.publish == 'yes' %}
{%- assign posts = site.posts | where: 'publish', 'yes' | where: 'language', page.language %}
{%- else %}
{%- assign posts = site.posts | where: 'publish', 'no' | where: 'language', page.language %}
{%- endif %}

      <div class="header-canvas c{% for this_post in posts %}{% if this_post.title == page.title and this_post.date == page.date and this_post.language == page.language %}{{ posts | size | minus: forloop.index | modulo: site.colors }}{% endif %}{% endfor %}">
        <header class="header">

          <h1 class="header-title">
            {%- for language in snippets.languages %}
              {%- if page.language == site.language %}
                {%- assign url = site.baseurl | append: '/'%}
              {%- else %}
                {%- assign nav_pages = site.pages
                  | where: 'language_reference', 'nest'
                  | where: 'language', page.language %}
                {%- for nav_page in nav_pages %}
                  {%- assign url = site.baseurl | append: nav_page.url %}
                {%- endfor %}
              {%- endif %}
            {%- endfor %}
            <div class="item">
              <a href="{{ url }}">{{ site.title }}</a>
            </div>
          </h1>

          <nav class="header-navigation">
            <ul class="items">
              {%- assign nav_pages = site.pages | where: 'language', page.language | sort: 'order' %}
              {%- for nav_page in nav_pages %}
                {%- if nav_page.title != null and nav_page.layout == 'page' %}
                <li class="item {% if nav_page.language_reference == page.language_reference %}current{% endif %}">
                  {%- if page.language == 'tr' %}
                  <a href="{{ site.baseurl }}{{ nav_page.url }}">{{ nav_page.title }}</a>
                  {%- elsif page.language == 'en'  %}
                  <a href="{{ site.baseurl }}{{ nav_page.url }}">{{ nav_page.title }}</a>
                  {%- endif %}
                </li>
                {%- endif %}
              {%- endfor %}
            </ul>

            <!--<ul class="languages">
              {%- for language in snippets.languages %}

                {%- if page.layout == 'page' %}
                  {%- assign nav_pages = site.pages
                    | where: 'language_reference', page.language_reference
                    | where: 'language', language[1].slug %}
                  {%- if nav_pages.size > 0 %}
                    {%- for nav_page in nav_pages %}
                      {%- assign url = site.baseurl | append: nav_page.url %}
                    {%- endfor %}
                  {%- else %}
                    {%- assign nav_pages = site.pages
                    | where: 'language_reference', 'nest'
                    | where: 'language', language[1].slug %}
                    {%- for nav_page in nav_pages %}
                      {%- assign url = site.baseurl | append: nav_page.url %}
                    {%- endfor %}
                  {%- endif %}

                {%- elsif page.layout == 'post' %}
                  {%- assign nav_posts = site.posts
                    | where: 'language_reference', page.language_reference
                    | where: 'language', language[1].slug %}
                  {%- if nav_posts.size > 0 %}
                    {%- for nav_post in nav_posts %}
                      {%- assign url = site.baseurl | append: nav_post.url %}
                    {%- endfor %}
                  {%- else %}
                    {%- assign nav_pages = site.pages
                      | where: 'language_reference', 'nest'
                      | where: 'language', language[1].slug %}
                    {%- for nav_page in nav_pages %}
                      {%- assign url = site.baseurl | append: nav_page.url %}
                    {%- endfor %}
                  {%- endif %}

                {%- elsif page.layout == 'base' %}
                  {%- assign nav_pages = site.pages
                    | where: 'language_reference', 'nest'
                    | where: 'language', language[1].slug %}
                  {%- for nav_page in nav_pages %}
                    {%- assign url = site.baseurl | append: nav_page.url %}
                  {%- endfor %}
                {%- endif %}
              <li class="item {{ language[1].slug }}">
                <a href="{{ url }}">{{ language[1].value }}</a>
              </li>
              {%- endfor %}
            </ul>-->
          </nav>
          <div class="header-menu">
            <span id="menu-open">Menu</span>
            <span id="menu-close">Close</span>
          </div>

        </header>
      </div>
