        <ul class="posts">
          {%- assign posts = site.posts | where: 'published', true | where: 'language', page.language | sort: 'date' | reverse %}
          {%- for post in posts %}
            <li class="canvas-post cp{{ posts | size | minus: forloop.index | modulo: site.colors }} reference">
              <a
                class="post"
                href="{{ post.url | prepend: site.baseurl }}"
                >
                <strong class="title">{{ post.title }}</strong>
                {%- if post.subtitle %}<div class="subtitle">{{ post.subtitle }}</div>{%- endif %}
                {%- if post.categories %}<ul class="categories">{% for category in post.categories %}<li class="category">{{ site.data.snippets.categories[category][post.language] }}</li>{% endfor %}</ul>{%- endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
        <script>
          // Define minimum and maximum rotation and offset values
          const minRotation = -2; // Minimum rotation in degrees
          const maxRotation = 2;  // Maximum rotation in degrees
          const minOffsetX = -12; // Minimum horizontal offset in pixels
          const maxOffsetX = 12;  // Maximum horizontal offset in pixels
          const minOffsetY = -8; // Minimum vertical offset in pixels
          const maxOffsetY = 8;  // Maximum vertical offset in pixels

          document.querySelectorAll('.posts > li').forEach(li => {
            // Generate random values for rotation, horizontal, and vertical offsets
            const rotation = parseFloat((Math.random() * (maxRotation - minRotation) + minRotation).toFixed(1));
            const offsetX = Math.round(Math.random() * (maxOffsetX - minOffsetX) + minOffsetX);
            const offsetY = Math.round(Math.random() * (maxOffsetY - minOffsetY) + minOffsetY);

            //console.log(rotation);
            //console.log(offsetX);
            //console.log(offsetY);

            // Set the initial transform as CSS variables
            li.style.setProperty('--initial-rotation', `${rotation}deg`);
            li.style.setProperty('--initial-offset-x', `${offsetX}px`);
            li.style.setProperty('--initial-offset-y', `${offsetY}px`);

            // Apply the initial transform using the CSS variables
            li.style.transform = `rotate(${rotation}deg) translate(${offsetX}px, ${offsetY}px)`;
          });
        </script>
