        <ul class="references">
          {%- assign posts = site.posts | where: 'publish', 'yes' %}
          {% for post in posts %}
            <li class="c{{ site.colors | plus: 1 | minus: forloop.index | modulo: site.colors }}">
              <a class="reference" href="{{ post.url | prepend: site.baseurl }}">
                <strong class="title">{{ post.title }}</strong>
                <div class="subtitle">{{ post.subtitle }}</div>
              </a>
            </li>
          {% endfor %}
        </ul>
