    <script src="{{ "/scripts/js/main.min.js" | prepend: site.baseurl }}"></script>
    <script>
      // Get the .reversefootnote elements
      var footnote = document.getElementsByClassName('reversefootnote');

      //console.log(footnote);

      // Change the default copy of the footnote links
      for (i = 0; i < footnote.length; i++) {
        footnote[i].textContent = '{{ site.data.snippets.footnote_back[page.language] }}';
      }
    </script>

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "759187c1083b4ec99f9a27f90d5ce327"}'></script>
    <!-- End Cloudflare Web Analytics -->