    <div class="canvas-splash">
      <div class="splash">

        <div class="splash-pitch">
          <p>{{ site.data.snippets.introduction[page.language] }}</p>
        </div>

        <ul class="splash-links">
          <li class="button-xs-left button-outlined"><a href="https://www.youtube.com/@takatukahane" target="_blank">{% include icon-youtube.html %} YouTube</a></li>
          <li class="button-xs-left button-outlined"><span class="email-icon"><noscript>{{ site.data.snippets.email_placeholder[page.language] }}</noscript></span></li>
          <li class="button-xs-left button-outlined"><a href="https://www.instagram.com/takatukahane" target="_blank">{% include icon-instagram.html %} Instagram</a></li>
        </ul>

      </div>
    </div>