---
type: home
layout: base
navigation: false
navigation_order: 1

title: 'Ev'
description: 'Takatukahane karanlıkta parlayan büyülü öyküler evidir. Burada simya, tarot, mitoloji ve sembolojinin ilham verici ve sihirli odalarında gezebilirsiniz.'

language: 'tr'
language_reference: 'nest'
---

{% include splash.html %}

{%- assign counter = 0 %}
{%- for post in site.posts %}
  {%- unless post.publish == 'no' %}
    {%- assign counter=counter | plus:1 %}
  {%- endunless %}
{%- endfor %}

      <div class="canvas-posts">

{% include post-list.html %}

      </div>
