---
layout: base
---

{%- if page.publish == 'yes' %}
{%- assign posts = site.posts | where: 'publish', 'yes' | where: 'language', page.language %}
{%- else %}
{%- assign posts = site.posts | where: 'publish', 'no' | where: 'language', page.language %}
{%- endif %}

      <div class="canvas-article c{% for this_post in posts %}{% if this_post.title == page.title and this_post.date == page.date and this_post.language == page.language %}{{ posts | size | minus: forloop.index | modulo: site.colors }}{% endif %}{% endfor %}">
        <article class="article">

          <header class="head">
            {%- if page.date %}
            {%- assign date_month = page.date | date: '%-m' | minus: 1 %}
            <time class="date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: '%-d' }} {{ site.data.snippets.months[page.language][date_month] }} {{ page.date | date: '%Y' }}</time>
            {%- endif %}
            <h2 class="title">{{ page.title }}</h2>
            {%- if page.subtitle %}<div class="subtitle">{{ page.subtitle }}</div>{%- endif %}
            {%- if page.categories %}<ul class="categories">{% for category in page.categories %}<li class="category">{{ site.data.snippets.categories[category][page.language] }}</li>{% endfor %}</ul>{%- endif %}
          </header>

          <div class="body typo-m">

{{ page.content }}
          </div>

        </article>
      </div>
